<%- include ('layouts/header') %>
<h1 class="table">Manage Users</h1>

<table class="table">
  <thead>
    <th>id</th>
    <th>email</th>
    <th>role</th>
  </thead>
  <tbody>
    <pre><%= JSON.stringify(users, null, 2) %></pre>
  </tbody>
</table>

<%- include ('layouts/footer') %>